.errorMessageContainer {
  margin: 0 auto;
  margin-top: 2rem;
  width: 100%;
  text-align: center;
}

.errorTitle {
  margin-bottom: 1rem;
}

.errorMessage {
  margin-bottom: 1rem;
}

.errorResolution {
  //   color: var(--gray);
}
